---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
title: Home
---

<div class="wrapper wrapper--home-art-list">
    <div class="g-fb-container">
    {% include "components/art-list.njk" %}
    </div>
</div>

<div class="wrapper wrapper--home-ateliers-list">
    <div class="g-fb-container">
    {% include "components/ateliers-list.njk" %}
    </div>
</div>