---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
title: Home
---

<div class="wrapper wrapper--spotlight">
    <div class="g-fb-container">
        <div class="g-fb-row">
            <div class="g-fb-col-12">          
            {% include "components/art-spotlight.njk" %}
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper--home-art-list">
    <div class="g-fb-container">
    {% set artList = collections.art | getAmount(3) %}  
    {% include "components/art-list.njk" %}
    </div>
</div>

<div class="wrapper wrapper--home-ateliers-list">
    <div class="g-fb-container">
    {% include "components/ateliers-list.njk" %}
    </div>
</div>