---
title: "Behind The Scenes"
location: "Creation and installation of a new sculpture in Paris"
explanation: "<p>Walking through Arne Quinze’s house and studio is an overwhelming experience of discovering art, sketches, pictures, maquettes, paper studies, and books, collected through the years. The power of nature has to be able to burst in. It is a creative hub, a laboratory of variety.</p>"
publishedAt: "20 Mar 2019"
thumbnail: "https://www.arnequinze.com/img/containers/main/atelier-studio/images/arne-quinze-_ect_3855.jpg/3ccfacf2b0d4e37aaec0bab9db1dbd91.jpg"
introduction_video: "https://youtu.be/WCQUNoY05w8"
media": [
    {
        "url": "https://www.arnequinze.com/assets/atelier-studio/images/beautifuldreamer.gif"
    }
]
artist_reaction: "“All sorts of things happen in the studio where I live. I gather ideas, I work on models, I find calmness there, my team works there, there is activity. My garden surrounds the house and brings nature within easy reach. I observe, study and let myself be inspired by daily changes, the metamorphoses it undergoes.”"
tags: [
    "ateliers"
]
---