---
title: "Strelitzia installation video"
location: "Creation and installation of a new sculpture in Paris"
explanation: "<p>Arne Quinze finds it very important to develop our cities in closer relation to nature, and this entire project is a perfect example. It’s about creating an ecosystem for a wide diversity of visitors, aiming for a balanced society. The areas around the city gates, or the main entrance roads to city centres nowadays, have a particularly important role in the urban development, as they have always been very busy with an interesting mix of people with different economical interests or intentions, these areas become the engines of the city.</p>"
publishedAt: "19 Nov 2019"
thumbnail: "https://www.arnequinze.com/assets/atelier-studio/images/beautifuldreamer.gif"
introduction_video: "https://youtu.be/WCQUNoY05w8"
media": [
    {
        "url": "https://www.arnequinze.com/assets/atelier-studio/images/beautifuldreamer.gif"
    }
]
tags: [
    "ateliers"
]
---