---
title: "Strelitzia installation video"
location: "At a private collector's residence"
explanation: "<p>Arne Quinze's team at work: after carefully engineering the painted artwork, installation took only about 3 hours. The owners, a family of art lovers, have been collecting art for years, and now decided to order two Arne Quinze's at once.</p>"
publishedAt: "10 Dec 2019"
thumbnail: "https://www.arnequinze.com/assets/atelier-studio/images/installation_selection_1.gif"
introduction_video: "https://youtu.be/-7tfjYeTYlU"
media": [
    {
        "url": "https://www.arnequinze.com/img/containers/main/arne-quinze-strelitzia-sculpture-148.jpg/9e01190e6062fc2ba5e24ec575b92238.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/arne-quinze-strelitzia-sculpture-178.jpg/15c561d4a5ca34381761f2ae258e25f0.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/arne-quinze-strelitzia-sculpture-192.jpg/f1ce0660e576e0f36d849f9c6ba5e03f.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/arne-quinze-strelitzia-sculpture-205.jpg/932ad076d882c310d73cb71a269db4b1.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/arne-quinze-strelitzia-sculpture-215.jpg/e45d87ccba27d148fd685baade9f3b40.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/arne-quinze-strelitzia-sculpture-248.jpg/2d4a74fd95edf59a0028cbaa5672d3b2.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/arne-quinze-strelitzia-sculpture-248.jpg/2d4a74fd95edf59a0028cbaa5672d3b2.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/arne-quinze-strelitzia-sculpture-290.jpg/a16f83fe3cb88213d259e65c886a2534.jpg"
    }
]
tags: [
    "ateliers"
]
---