<footer class="wrapper wrapper--footer">
  <div class="g-fb-container">
    <div class="g-fb-row">
        <div class="g-fb-col-12">
            <section class="footer-subscribe">
                <h1>Stay informed</h1>
                <form action="#" method="post" name="frm-newsletter" id="frm-newsletter">
                    <div class="frm-group">
                        <input type="email" name="email" id="email" required="required" email="" placeholder="E-mailadres">
                        <input type="submit" name="submit" id="submit" value="subscribe">
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="g-fb-row">
        <div class="g-fb-col-4">
            <span class="footer-logo">Arne<br>Quinze</span>
        </div>
        <div class="g-fb-col-2">
            <a class="footer-visit-instagram" href="https://www.instagram.com/arnequinze/" target="_blank">Visit our<br>Instagram</a>           
        </div>
        <div class="g-fb-col-6">
            <div class="footer-showcase">
                {% for medium in footerShowcase.showcase %}  
                <picture class="footer-showcase__picture">
                    <img src="{{ medium.url}}" />
                </picture> 
                {% endfor %} 
            </div>
        </div>
    </div>
    <div class="g-fb-row">
        <div class="g-fb-col-6">
            <p class="footer-copyright">&copy; Arne Quinze, all rights reserved</p>
        </div>
        <div class="g-fb-col-6">
            <p class="footer-terms">
                <a href="https://www.arnequinze.com/terms-and-conditions" title="">Terms & conditions</a>
                <span class="footer-terms__separator">-</span>
                <a href="https://www.arnequinze.com/privacy-policy" title="">Privacy Policy</a>
                <span class="footer-terms__separator">-</span>
                <a href="https://www.figure8.be?utm_source=Arne+Quinze&utm_medium=credits&utm_campaign=client_sites" title="">webdesign Figure8</a>
            </p>        
        </div>
    </div>
  </div>
</footer>