<header class="wrapper wrapper--header">
  <div class="g-fb-container">
    <div class="g-fb-row">
        <div class="g-fb-col-8">
            {% include "components/navigation.njk" %}
        </div>
        <div class="g-fb-col-4 logo-container">
            <h1 class="logo">
                <a href="/" title="Terug naar de startpagina van Arne Quinze">Arne Quinze</a>
            </h1>
        </div>
    </div>
  </div>
</header>