---
title: "Mojave & Sparsiflorus — Chroma"
description: "Arne Quinze's garden hosts a series of Chroma Lupines"
location: "Studio, Sint-Martens-Latem, Belgium"
explanation: "<p>Chroma Lupines, a new series of sculptures, have a monochromatic appearance but assimilate with their environment. Hues tend to vary when the spectator changes perspective or light sources change position. The array of soft reds enlightening the surface during sunset give a totally different glow than hard light around noon. This quality is widely spread in nature - the Chameleon as the best example of course - but the lupine flowers have magical attributes too: the upper petal of the 'Lupinus Sparsiflorus', commonly known as the Mojave or Coulter's Lupine has a yellow spot which changes to reddish after pollination.</p>"
categories: [
    "Sculpture"
]
publishedAt: "02 Dec 2019"
thumbnail: "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-lupine-sculpture-chroma-021-1.jpg/a0b097da8fb3bbd2eb4e102be5953048.jpg"
"media": [
    {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-lupine-sculpture-chroma-021-1.jpg/a0b097da8fb3bbd2eb4e102be5953048.jpg"
    }
]
public_reaction: null
artist_reaction: null
tags: [
    "art"
]
---