---
layout: layouts/artwork.njk
title: "Feminine elegance"
description: "Public sculpture"
location: "Potomac Riverside, Washington D.C., USA"
explanation: "<p>Scarlet is an ode to nature, as well to femininity: its beauty, diversity, gratitude, and power. Scarlet is the artist’s indictment of human carelessness. Our contemporary societies create grim living conditions in monotone cities, and modern culture has lost its connection with nature, much to its detriment. This disconnection also comes at the cost of serious environmental repercussions.</p><p>For the creation of Scarlet, Quinze was inspired by the Scarlet Oak. This bright red colored tree has deep roots in the history of Washington D.C. and reinforces the enduring cultural link between civic symbolism and natural imagery. Arne Quinze appropriates this symbol and attempts to reactivate its presence by encouraging a dialogue about environmental awareness. Quinze wants to motivate the viewer experientially through the power of Scarlet, empowering them to work actively towards a better-balanced society. </p>"
categories: [
    "Installation / Sculpture"
]
publishedAt: "01 Aug 2019 "
thumbnail: "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-scarlet-stevelim-stv_3372.jpg/3b96e05d06981ff674b43e5addcccdf0.jpg"
header: {
    type: image,
    url: "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-scarlet-stevelim-stv_3372.jpg/3b96e05d06981ff674b43e5addcccdf0.jpg"
}
"media": [
    {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-scarlet-stevelim-stv_3372.jpg/66cb814108110c7d9c86a01b5e6f7629.jpg"
    },
     {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-scarlet-stevelim-stv_3413.jpg/164f8ad7c8ea8f600ceee5e48bb756ba.jpg"
    },
     {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/artsociety-1571929888.jpg/0765f3040116429c919d665737b2e706.jpg"
    },
     {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-scarlet-stevelim-stv_3366.jpg/2eb3b69c67bef5fcf72fc08f1eb6e2b4.jpg"
    },
     {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-scarlet-stevelim-stv_3400.jpg/36de716f97dde11e4fb3a80e3b360af5.jpg"
    },
     {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-scarlet-stevelim-stv_3652.jpg/74f9c502aad4bd31e5cf66cefe7da91f.jpg"
    }
]
public_reaction: null
artist_reaction: null
tags: [
    "art"
]
---