---
title: "The Beautiful Dreamer"
description: "Public sculpture"
location: "Porte De Versailles, Paris, France"
explanation: "<p>The first permanent and public installation in France of internationally acclaimed artist Arne Quinze, entitled \"The Beautiful Dreamer\", was inaugurated this Wednesday, November 20, 2019 at the exhibition park of Porte de Versailles, alongside new pavilions by Architect Jean Pistre, Denis Valode, <a href=\"http://www.bbc.co.uk\">Jean-Michel</a> Wilmotte and Jean Nouvel.</p><p>This inauguration punctuates the vast modernisation program Paris Expo - Porte de Versailles has gone through since 2015, orchestrated by Viparis. ArtBliss Paris, specialist in the integration of works of art within urban spaces, was entrusted with the curation of a sculpture dedicated to the site.</p>"
categories: [
    "Installation",
    "Sculpture"
]
publishedAt: "21 Nov 2019"
thumbnail: "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-the-beautiful-dreamer-paris-47795-3b.jpg/d561f6d560ead5569fcf0c4c19a7794c.jpg"
header: {
    type: image,
    url: "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-the-beautiful-dreamer-paris-47795-3b.jpg/d561f6d560ead5569fcf0c4c19a7794c.jpg"
}
"media": [
    {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-the-beautiful-dreamer-paris-sculpture-47684.jpg/e94e69dfce09393b5fd207b4687456fb.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-the-beautiful-dreamer-paris-sculpture-47757.jpg/d0e468afc6cbba6df11a0d9b80198f58.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/arne-quinze-the-beautiful-dreamer-paris-sculpture-47696-1574764050.jpg/2c7b47645c5dd0d2ec2328ab0aa6638a.jpg"
    },
    {
     
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-the-beautiful-dreamer-paris-sculpture-47711.jpg/fc520e6d400c6fe0566102b9e15f852e.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-the-beautiful-dreamer-paris-sculpture-47773.jpg/0a216d4ac0799c0f9734a143b4263bfd.jpg"
    },
    {
        "url": "https://www.arnequinze.com/img/containers/main/art-exhibitions/images/arne-quinze-the-beautiful-dreamer-paris-sculpture-47760.jpg/1559e49c9111059abc7ee0e0619cc821.jpgg"
    }
]
public_reaction: "With an ongoing urge to capture the beauty of nature and bring it back to the city, the international artist Arne Quinze has imagined a monumental organic sculpture of 11.50 meters for Paris Expo - Porte de Versailles. Composed of a variety of metals, this poetic and colourful flower is located between the two hotels, Mama Shelter and Novotel, close to the new Pavilion 6, and thus overlooks the new entry to the site. The artist has been working in cities around the world for over 25 years now, always driven by the deep desire to guide our urban spaces towards a better future by humanizing our environments and making them greener. In Shanghai, Beirut, Washington, Brussels, Mumbai or Rio, his sculptures created a new dynamic to their urban development."
artist_reaction: "“In a metropolis like Paris it is so easy to avoid each other. It is easy to forget the concept of ‘co-habitation’. So many different people and cultures. That is why I wanted to install this dreamer here, a work that refers to the diversity and perfection of nature, that dreams of an ecosystem full of colour and movement, but still in perfect balance.”"
spotlight: true
tags: [
    "art"
]
---