---
title: "The story of Amazonia"
description: "Docu film about the creation of a new art installation"
location: "Creutz & Partners offices, Beiler, Luxembourg"
explanation: "<p>Nature truly fascinates Arne Quinze in plethora different manners. He is a real admirer, a true addict. His flower garden is a laboratory for studies on colours and shapes. The diversity he finds around his house — only a miniscule sampling of nature — is truly stunning. If only we could build cities as balanced as nature’s ecosystems, they would be far more human. Watch this documentary about Amazonia and how the idea arose for the creation of this suspended sculpture.</p>"
categories: [
    "Documentary"
]
publishedAt: "28 Nov 2019"
thumbnail: "https://www.arnequinze.com/assets/art-exhibitions/images/amazonia.gif"
"media": [
    {
        "url": "https://youtu.be/gc78Kovhn7M"
    }
]
public_reaction: null
artist_reaction: null
tags: [
    "art"
]
---